.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  max-height:calc(100vh - 278px);
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
      overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
     font-size: 12px;
     text-align: center;
     border: none;
}
 .table-fixed thead > tr> th {
 background-color: #243a51;
 color:#fff;
 font-weight: 600;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}
.panel-default {
       border: none;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
